@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #43245A;
  --text: #232323;
  --accent: #B6A8C1;
  --background: #EBE2F2;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-30px); }
}
.float-animate {
  animation: float 5s ease-in-out infinite;
}
.float-animate-delay-1 {
  animation-delay: 1s;
}
.float-animate-delay-2 {
  animation-delay: 2s;
}
.float-animate-delay-3 {
  animation-delay: 3s;
}
.float-animate-delay-4 {
  animation-delay: 4s;
}
.float-animate-delay-5 {
  animation-delay: 5s;
} 